<div class = 'container'>
{% if not author %}
<h1>The author youre looking for doesnt exist!</h1>
{% else %}
    <h2>{{ author.name }}</h2>
    <h4>{{ author.bio }}</h4>
    <ul>
        {%for recipe in author_recipe%}
            <li>
                <a href = '/recipe/{{ post.id }}'>{{ post.title }}</a>
            </li>
        {%endfor%} 
    </ul>
    <p>Favorites: {{ author.favorite.count }} </p>
    {%for fave in favorites%}
    <p>
        <a href="/recipe/{{ fave.id }}/">{{ fave.title }}</a>
    </p>
    {% endfor %}
{% endif %}
</div>